/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
header {
  border: 1px solid black;
  background-image: url(../images/Banners/header-craig-melvillejpg.jpg);
  background-size: cover;
  height: 300px;
  background-position: 50% 40%
}
h1, 
h2,
h3 {
  font-size: 36px;
  font-family: 'Bungee', regular;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;

}
.inspir-img{
  width: 400px;
}

.three-col {
  display: flex
}

.three-col article {
  flex: 1;
  padding: 10px;
}

.three-col .description {
  flex-grow: 2;
}