html {
    background-image: url(Images/kevinpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    background-color: black;
    flex: 1;

}
.grid-2 {
    margin-top: 60px;
}

.grid-2 article {
    flex: 1;
    padding: 20px;
}   

.grid-2 .content {
    margin-top: 100px;
    position: absolute;
    top: -200px;
    right: 30px;
    width: 25%;
}



p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    position: relative;
    bottom: -80px;

}